# Django specific files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
__pycache__
__pycache__/*
*/__pycache__
# Django migrations


# Environment variables
.env
*.env

*.log
django.log

# IDE specific files
.vscode/
.idea/

# # Media files
# media/

# Database files
*.sqlite3
*.db

# Logs
*.log

# Coverage reports
.coverage
htmlcov/

# Test output
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Compiled files
*.egg-info/
dist/
build/
*.egg

# Node modules
node_modules/

# Other
.DS_Store
Thumbs.db